<p>Username:{{user.username}}</p>
{{#if user.name}}
<p>Name: {{user.name}}</p>
{{/if}}
<p>ID: {{user._id}}</p>
<a href="/profile/edit">Edit Profile</a>
<a href="/">Home</a>
<form action="/auth/logout" method="post">
  <button type="submit">Logout</button>
</form>