<img src="https://i.redd.it/4dooruiq48d51.jpg" class="img">
<p>You are logged in.

  Thread carefully.

  <a href="/private">Check out your private page.</a> Or <a href="/profile">See</a> and <a href="/profile/edit">Edit</a> your profile.

  <a href="/">Go back to the main page.</a>
</p>